.shoppingNav{
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 10%;
    justify-content: center;
    font-weight: bold;
    color: #808080;
    background: whitesmoke;
}

.browseBtn{
    border: none;
    outline: none;
    width: 9rem;
    padding: 7px;
    background:#ffffff;
    color: #2e2e2e;
    border: 1px solid #2e2e2e;   
}

.trackPara{
    width: 40ch;
}

.shoppingNav a{
 text-decoration: none;
 color: #808080;
}

.shoppingCartHeader{
    padding-top: 4.5rem;
}

.shoppingCartHeader .welcomeMessage{
    text-align: left;
}

h1 .welcomeMessage{
    font-size: 0.5rem;
    font-weight: bold;
}


.imgDiv{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

.imgDiv>img{
    width: 100%;
    height: 100%;
}

.reduceBtn,
.plusBtn
{
     border: 1px solid #2e2e2e;
     outline: none;
}

.trash{
    color: red;
    cursor: pointer;
    border: none;
    outline: none;
}

.totalCart,
.purchase{
    display: flex;
    justify-content: end;
}

.clearCart{
    background:#d16e6e ;
    cursor: pointer;
    border: none;
    color: #2e2e2e;
    text-align: center;
    outline: none;
}

.purchaseNow{
    background:rgb(79, 177, 79);
    cursor: pointer;
    border: none;
    color: #2e2e2e;
    text-align: center;
    outline: none;
}

.fa-solid{
    font-size: 1.5rem;
}


@media screen and (max-width:620px) {
    .hideText{
        display: none;
    }
    .shoppingIcon{
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
}