.viewMore {
    padding: 8px;
    border: none;
    outline: none;
    background: #2e2e2e;
    width: 9rem;
    color: #ffffff;
    font-weight: bold;
}

.exploreWrapper {
    position: relative;   
}

.exploreWrapper>img,
.galleryContainer>img {
    width: 100%;
    height: 100%;
}


.exploreImageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  place-items: center;
}

.btnWrapper {
    position: absolute;
    left: 35%;
    bottom: 5%;

}

.btnExplore {
    border: none;
    outline: none;
    width: 9rem;
    padding: 7px;
    background: #2e2e2e;
    color: #ffffff;
}


.btnDiscover {
    border: none;
    outline: none;
    width: 9rem;
    padding: 7px;
    background: #2e2e2e;
    color: #ffffff;
}

.storyImage {
    object-fit: cover;
}

.storyImage>img {
    width: 100%;
    height: 100%;
}
.storySection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap:2rem ;
}

.galleryWrapper {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   column-gap: 2rem;
}

@media screen and (max-width:768px){
    .exploreImageContainer,
    .storySection,
    .galleryWrapper{
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
}