


.insightImageWrapper{
    object-fit: cover;
    height: 18rem;
}


.insightImageWrapper>img{
    width: 100%;
    height: 100%;
}

.insightContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

.insightHeader{
    padding-top: 6rem;
}

@media all and (max-width:768px){
    .insightContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width:560px){
    .insightContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}