.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6rem;
    scroll-padding-top: 10rem;
}


.heroWrapper{
    max-width: 80%;
    height: 25rem;
    object-fit: cover;
    margin-top: 4rem;
}

.heroWrapper>img{
    width: 100%;
    height: 100%;
}

.heroPara{
    max-width: 45ch;
}

.heroTextWrapper{
    margin-top: 7rem;
}

.heroTextWrapper h1{
    color: #2e2e2e;
    font-weight: bold;
}


@media screen and (max-width:768px) {
    .heroWrapper{
        max-width: 100vh;
    }

    .hero{
        grid-template-columns: repeat(1, 1fr);
        padding-top: 1rem;
    }
}