footer{
    background: #2E2E2E;
    color: #ffffff;
    padding: 2rem;
}

.footerHeader{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.faqLink{
    text-decoration: none;
    color: #ffffff;
}

.faqLink:hover{
    color: #ffffff;
}


.subscribeInput:focus{
  box-shadow: 1px 1px 2px 2px #808080;
  outline: #2E2E2E;
  border: none;
}

.footerIconWrapper{
    display: flex;
    column-gap: 1.5em;
}

.footerIcon{
    font-size: 2rem;
    cursor: pointer;
}