.navStyle{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: #ffffff;
    box-shadow: 1px 1px 2px 2px #afacac;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 2rem;
    font-weight: bold;
}

.navList{
    list-style-type: none;
    font-size: 0.7rem;
}

.navLink{
    text-decoration: none;
    float: left;
    margin-right: 1.2rem;
    color: #808080;
    list-style: none;
}

.navLink:hover{
    color: #808080;
}

.logoName h1{
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.menuIcon{
    color: #808080;
    position: absolute;
    right: 3%;
    display: none;
}

@media screen and (max-width:768px) {
    .navStyle{
        flex-direction: column;
    }

    .navLink{
        float: none;
        display: block;
    }

    .logoName{
        position: absolute;
        left: 3%;
    }

    .menuIcon{
        display: block;
    }

    .navList{
        display: none;
    }

    .showNav{
        display: block;
        padding-top: 2rem;
    }
}